@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bjorn";
    font-style: normal;
    font-weight: normal;
    src: local("Bjorn"), local("Bjorn"),
      url("/fonts/BjornRegular.woff") format("woff"),
      url("/fonts/BjornRegular.woff2") format("woff2");
  }
  @font-face {
    font-family: "NexaBold";
    font-style: normal;
    font-weight: normal;
    src: local("NexaBold"), local("NexaBold"),
      url("/fonts/NexaBold.woff") format("woff"),
      url("/fonts/NexaBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "NexaLight";
    font-style: normal;
    font-weight: normal;
    src: local("NexaLight"), local("NexaLight"),
      url("/fonts/NexaLight.woff") format("woff"),
      url("/fonts/NexaLight.woff2") format("woff2");
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  ion-icon {
    color: white;
  }
}
