---
const {color} = Astro.props; 
---
<div class="flex gap-x-[7px]">
  <div class=`w-[86px] h-[8px] bg-${color} -skew-x-[30deg]`> </div>
  <div class=`w-[86px] h-[8px] bg-${color} -skew-x-[30deg]`> </div>
</div>