---
interface Props {
	color: string;
}

const { color } = Astro.props; 
---
<div class="flex gap-x-[3px] md:gap-x-[7px] z-[1]">
  <div class=`w-[30.75px] h-[2.86px] md:w-[86px] md:h-[8px] bg-${color} -skew-x-[30deg]`> </div>
  <div class:list={[`w-[30.75px] h-[2.86px] md:w-[86px] md:h-[8px] -skew-x-[30deg]`, `bg-${color}` ]}> </div>
</div>