---
const {color} = Astro.props; 
---
<div class="flex gap-x-[7px] z-[-1]">
  <div class:list={[`w-[86px] h-[8px] -skew-x-[30deg]`, `bg-${color}`]}> </div>
  <div class:list={[`w-[86px] h-[8px] -skew-x-[30deg]`, `bg-${color}`]}> </div>
</div>