<footer class="flex w-full bg-primaryDark h-[32px] md:h-[38px] items-center justify-center">
  <p class="text-white font-[NexaLight] text-sm md:text-[22px]">All right reserved - vision paralela 2020</p>
</footer>