---
import Divider from '../components/Divider.astro';
import Input from '../components/Input.astro';
---
<section class="pt-[88px] md:pb-72">
  <div class="hidden md:block">
    <img
    class="w-screen"
    src="/src/assets/landing.png"
    alt="Banner Image">  
    
    <div class="flex justify-center pt-24">
      <Divider color="primary"/>
    </div>
  </div> 

  <div class=" flex flex-col justify-center items-center">
    <h1 class="text-center pt-[72px] md:pt-16 text-3xl md:text-7xl leading-none">
      tools and services <br> for your brand
    </h1>
    <p class="text-center px-3 pt-2.5 md:pt-16 sm:px-10 md:px-16 lg:px-48 xl:px-56 text-sm md:text-3xl font-[Roboto] uppercase tracking-[0.94px]">
      Work with us to create awesome content to overcome the obstacles you face as a creative entrepreneur.
    </p>
    <div class="md:flex">
      <div class="mt-11 md:mt-[88px] md:px-9">
        <Input id="input-name" type="text" field="Name" placeholder="Your name"/>
      </div>
      <div class="mt-[54px] md:mt-[88px] md:px-9">
        <Input id="input-email" type="email" field="Email" placeholder="example@mail.com"/>
      </div>
    </div>
    <button class="mt-[61px] md:mt-[74px] text-2xl md:text-4xl text-white bg-secondary px-[48px] py-[18px] tracking-[2px]">
      SUBSCRIBE
    </button>
  </div>
</section>

