---
import Divider from '../components/Divider.astro';
---
<section class="flex flex-col size-full bg-gradient-to-br from-primaryDark to-primaryDarkThree">
  <div class="block md:hidden">
    <div class="block md:hidden">
      <div class="flex flex-col size-full mt-[58px] mb-[25px] justify-center items-center">
        <h1 class="text-center text-white tracking-[2px] text-3xl font-[Bjorn]">contact</h1>
        <Divider color="primary"/>
      </div>

      <h2 class="my-[25px] text-center text-[33px] font-[Roboto] font-bold text-pink">Let’s work together</h2>
    </div>
    
    <p class="text-center text-white mt-[25px] font-[NexaBold] text-xl">visionparalela@gmail.com</p>
    <p class="text-center text-white my-[15px] font-[Roboto] text-lg leading-[19px]">+58 4149981454<br>+1 9132922711</p>

    <div class="flex flex-row items-center justify-center gap-x-[14px]">
      <ion-icon class="text-[18px]" name="location-sharp"></ion-icon>
      <p class="text-white font-[NexaBold] text-xl">Puerto Ordaz, Venezuela.</p>
    </div>

    <div class="flex flex-row items-center justify-center gap-x-[46px] mt-[84px]">
      <ion-icon class="cursor-pointer text-[27px]" name="logo-instagram"></ion-icon>
      <ion-icon class="cursor-pointer text-[27px]" name="logo-youtube"></ion-icon>
      <ion-icon class="cursor-pointer text-[27px]" name="logo-pinterest"></ion-icon>
    </div>

    <div class="flex justify-center items-center w-full h-[380px]">
      <img
          class="w-[260px] h-[275px]"
          src="/src/assets/logo-vector.png" 
          alt="Vision Paralela logo"
        /> 
    </div>
  </div>
  <div class="hidden md:block md:relative md:size-full">
    <div class="flex absolute size-full pl-[550px]">
      <div class="size-[1030px]">
        <img
          class="size-full object-cover object-left"
          src="/src/assets/logo-vector.png" 
          alt="Vision Paralela logo"
        /> 
      </div>
      
    </div>
      <div class="flex flex-col size-full mt-[175px] pl-[136px] mb-[45px]">
        <h1 class="text-white leading-[70px] tracking-[1px] text-7xl font-[Bjorn] mb-[14px]">contact us</h1>
        <Divider color="primary"/>
      </div>

      <h2 class="pl-[136px] max-w-[700px] text-4xl leading-[45px] font-[NexaBold] text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc </h2>
      <h3 class="pl-[136px] mt-[55px] text-3xl font-[NexaLight] text-white">Ask us anything</h3>
      <p class="pl-[136px] text-white text-4xl leading-[40px] font-[NexaBold]">visionparalela@gmail.com</p>

      <h3 class="pl-[136px] mt-[50px] text-3xl font-[NexaLight] text-white">Direct contact</h3>
      <p class="pl-[136px] text-white text-4xl leading-[40px] font-[NexaBold]">+58 414 99814544 </p>

      <div class="flex flex-row items-center gap-x-[14px] pl-[136px] mt-[20px]">
        <ion-icon class="text-[35px]" name="location-sharp"></ion-icon>
        <p class="text-white font-[NexaBold] text-4xl leading-[70px]">Puerto Ordaz, Venezuela.</p>
      </div>

      <div class="flex flex-row items-center justify-center gap-x-[46px] mt-[84px] mb-[185px]">
        <ion-icon class="cursor-pointer text-[35px]" name="logo-instagram"></ion-icon>
        <ion-icon class="cursor-pointer text-[35px]" name="logo-youtube"></ion-icon>
        <ion-icon class="cursor-pointer text-[35px]" name="logo-pinterest"></ion-icon>
      </div>
  </div>
</section>