---
import Divider from '../components/Divider.astro';
import Input from '../components/Input.astro';
---
<section class="pt-[88px]">
  <div class="hidden md:block">
    <img
    class="w-screen max-h-[500px] object-fill"
    src="/banner-top.png"
    alt="Banner Image">  
    
    <div class="flex justify-center pt-24">
      <Divider color="primary"/>
    </div>
  </div> 

  <div class="flex flex-col justify-center items-center pb-[85px] md:pb-[134px]">
    <h1 class="text-center pt-[72px] md:pt-16 text-3xl md:text-6xl leading-none">
      tools and services <br> for your brand
    </h1>
    <p class="text-center px-3 pt-2.5 md:pt-16 sm:px-10 md:px-16 lg:px-48 xl:px-56 text-sm md:text-3xl font-[Roboto] uppercase tracking-[0.94px]">
      Work with us to create awesome content to overcome the obstacles you face as a creative entrepreneur.
    </p>
    <div class="md:flex">
      <div class="mt-11 md:mt-[88px] md:px-9">
        <Input id="input-name" type="text" field="Name" placeholder="Your name"/>
      </div>
      <div class="mt-[54px] md:mt-[88px] md:px-9">
        <Input id="input-email" type="email" field="Email" placeholder="example@mail.com"/>
      </div>
    </div>
    <button type="submit" class="mt-[61px] md:mt-[74px] text-2xl md:text-4xl text-white bg-secondary px-[48px] py-[18px] tracking-[2px]">
      SUBSCRIBE
    </button>
  </div>

  <div class="relative flex justify-center items-center w-full bg-black/90">
    <img
    class="block md:hidden w-screen max-h-[348px] max-w-[353px] object-contain"
    src="/fotographer-mobile.png"
    alt="Fotographer"> 
    <img
    class="hidden md:block w-screen max-h-[500px] max-w-[1355px] object-contain"
    src="/fotographer.png"
    alt="Fotographer"> 

    <div class="absolute flex flex-col size-full bg-black/90
    md:max-h-[500px] md:max-w-[1355px] max-h-[348px] max-w-[353px]">
      <div class="flex flex-col size-full mt-[92px] sm:mt-[85px] md:mt-[70px] lg:mt-[96px]
      mb-[50px] md:mb-[40px] lg:mb-[60px] xl:mb-[75px]">
        <h1 class="ml-[22px] sm:ml-[18px] md:ml-[90px] lg:ml-[125px] text-white tracking-[2px] text-3xl sm:text-4xl md:text-5xl lg:text-6xl leading-[28px] sm:leading-[38px] md:leading-[50px] lg:leading-[60px] xl:leading-[70px]">
          we make it <br><span class="text-primary">possible</span>
        </h1>
        <div class="flex size-full justify-center items-end">
          <p class="text-white text-center font-[NexaBold] text-sm sm:text-base md:text-xl lg:text-2xl xl:text-3xl">
            Digital Agency
          </p> 
        </div>
      </div>
    </div>
  </div>  
  
</section>