---
import Header from '../components/Header.astro';
import Hero from '../layouts/Hero.astro';
import Services from '../layouts/Services.astro';
import WhoWeAre from '../layouts/WhoWeAre.astro';
import Contact from '../layouts/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Vision Paralela Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex-col">
		<Header />
		<main>
			<Hero />
			<Services />
			<WhoWeAre />
			<Contact />
			<Footer />
			<slot />
		</main>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
	}
	html {
		font-family: Bjorn, Roboto, NexaBold, NexaLight, system-ui, sans-serif;
	}

	body {
		display: flex;
		justify-content: center;
		background-color: white;
	}
</style>
