---
import Divider from "../components/Divider.astro";
---
<section class="flex flex-col size-full bg-black md:bg-white md:max-w-[1640px] md:mx-auto">
  <div class="hidden md:block ">
    <div class="flex justify-center mb-[130px]">
      <Divider color="secondary"/>
    </div>
  </div>
  <div class="size-full mt-[62px] md:mt-0 justify-center">
    <h1 class="text-center text-white md:text-text tracking-[1px] text-[28px] md:text-6xl font-[Bjorn] leading-[28px] md:leading-[72px]">who we are</h1>
  </div>
  <div class="flex size-full mt-[44px] md:mt-[56px] justify-center items-center px-[18px] md:px-[150px]">
    <p class="text-center md:text-left text-white md:text-text text-[18px] md:text-[32px] font-[NexaBold] leading-[18px] md:leading-[45px] max-w-[339px] md:max-w-[1440px]">
      Vision Paralela is an independant brand agency dedicated to create audivisual 
      and digital products to help innovation brands and startups to reach their 
      customers based on Puerto Ordaz, Venezuela. </p>
  </div>
  <div class="flex flex-col md:grid md:grid-cols-2 justify-center items-center md:items-start px-[18px] md:px-[150px] mt-[57px] md:mt-[70px] mb-[72px] md:mb-[263px] md:gap-x-[100px] md:justify-stretch">
    <div class="max-w-[329px] md:max-w-[517px]">
      <h2 class="text-left text-secondary text-2xl md:text-[42px] font-[NexaBold] leading-[18px] md:leading-[70px]">
        Our Mision
      </h2>
      <p class="pt-[12px] md:pt-[30px] font-[Roboto] md:font-[NexaLight] text-xl md:text-[28px] leading-[23px] md:leading-[35px] text-white md:text-text">
        To create and develop brands but not only for our clients, but to experiment creating 
        new things, discovering beautiful objects, and challenge ourselves every day.
      </p>
    </div>
    <div class="mt-8 md:mt-0 max-w-[330px] md:max-w-[517px]">
      <h2 class="text-left text-primary text-2xl md:text-[42px] font-[NexaBold] leading-[18px] md:leading-[70px]">
        Our Vision
      </h2>
      <p class="pt-[12px] md:pt-[30px] font-[Roboto] md:font-[NexaLight] text-xl md:text-[28px] leading-[23px] md:leading-[35px] text-white md:text-text">
        To become a global full service agency with clients and collaborators all around the world. 
      </p>
    </div>
    
  </div>
</section>